.header {
   background-color: var(--default-primary-color);
   height: 6vh;
   width: 100vw;
   padding: 1vh;
   display: flex;
   justify-content: space-between;
   align-items: center;
   position: fixed;
   z-index: 1;
}

.header-title {
  margin: 0;
  font-size: xx-large;
  font-weight: 600;
  color: var(--text-primary-color);
  padding: 0.3em;
}

.header-login-icon {
  font-weight: 500;
  color: var(--secondary-text-color);
  padding-right: 1.5em;
  cursor: pointer;
}

.header-login {
  display: none;
}

@media (min-width: 600px) {
  .header {
    padding: 4vh 6vh;
    position: relative;
  }
  .header-login {
    display: block;
    font-size: small;
    font-weight: 500;
    color: var(--secondary-text-color);
    padding-right: 10vh;
    cursor: pointer;
  }
  .header-login-icon {
    display: none;
  }
}
