.footer {
   background-color: var(--dark-primary-color);
   height: 8vh;
   padding: 1em;
   display: flex;
   flex-direction: column;
   color: var(--primary-text-color);
   font-weight: 500;
   font-size: small;
}

.footer-self-intro {
  opacity: 0.7;
}

.footer-link {
  text-decoration: none;
  margin-top: 2vh;
  display: flex;
  justify-content: center;
  font-weight: 600;
}

.footer-icon {
  margin-right: 0.3em;
}

@media (min-width: 600px) {
  .footer {
    height: 20vh;
    font-size: medium;
  }
  .footer-self-intro {
    padding-top: 2.5em;
  }

  .footer-link {
    color: var(--accent-color);
    margin-top: 3vh;
    line-height: 1.6;
  }

  .footer-icon {
    color: var(--accent-color);
  }
}
